.background {
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(
            circle at center,
            var(--color-bg-primary) 0%,
            var(--color-bg-tertiary) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-6);
}

.card {
    width: 100%;
    max-width: 420px;
    padding: var(--spacing-12) var(--spacing-10);
    background: var(--color-bg-primary);
    border-radius: var(--radius-xl);
    backdrop-filter: blur(28px);
    -webkit-backdrop-filter: blur(28px);
    border: 1px solid var(--color-border-light);
    box-shadow: var(--shadow-base);
}

@media screen and (max-width: var( --breakpoint-sm)) {

    .card {
        padding: var(--spacing-8);
    }
}
