.container {
  background: #1e1e1e;
  color: #eaeaea;
  padding: 16px;
  border-radius: 10px;
  width: 100%;
  font-family: "JetBrains Mono", monospace;
  margin-top:5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.filename {
  font-size: 14px;
  opacity: 0.85;
}

.icons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.15s;
  font-size: 18px;
}

.icon:hover {
  opacity: 1;
}

.codeBlock {
  background: #1e1e1e;
  padding: 12px;
  border-radius: 6px;
  white-space: pre-wrap;
  overflow-x: auto;
  line-height: 1.4;
}
