.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: var(--color-bg-primary);
  width: 50%;
  min-height:70%;
  max-height: 80vh;
  border-radius: var(--radius-lg);
  padding: 20px;
  box-shadow: var(--shadow-lg);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-4);
}

.title {
  font-size: var(--font-size-xl);
  color: var(--color-text-primary);
}

.closeBtn {
  background: transparent;
  border: none;
  color: var(--color-text-primary);
  font-size: 22px;
  cursor: pointer;
}

.codeBlock {
  background: var(--color-bg-secondary);
  padding: var(--spacing-4);
  border-radius: var(--radius-md);
  color: var(--color-text-primary);
  font-size: var(--font-size-sm);
  overflow-y: auto;
  white-space: pre-wrap; /* 줄바꿈 유지 */
  flex-grow: 1;
}

/* 스크롤바 전체 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 트랙 */
::-webkit-scrollbar-track {
  background: transparent;
}

/* 손잡이 */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 999px;
  transition: background 0.2s ease;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.32);
}
