.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: var(--color-gray-800);
  width: 50%;
  min-height:70%;
  max-height: 80vh;
  border-radius: var(--radius-lg);
  padding: 20px;
  box-shadow: var(--shadow-lg);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-4);
}

.title {
  font-size: var(--font-size-xl);
  color: var(--color-text-primary);
}

.closeBtn {
  background: transparent;
  border: none;
  color: var(--color-text-primary);
  font-size: 22px;
  cursor: pointer;
}

.codeBlock {
  background: var(--color-gray-900);
  padding: var(--spacing-4);
  border-radius: var(--radius-md);
  color: var(--color-text-inverse);
  font-size: var(--font-size-sm);
  overflow-y: auto;
  white-space: pre-wrap; /* 줄바꿈 유지 */
  flex-grow: 1;
}
