.sidebarContainer {
  display: flex;
  width: 20%;
  margin: var(--spacing-1);
  border-radius: var(--radius-base);
  border: 2px solid var(--color-border-light);
  background: var(--color-bg-primary);
}
