.practiceContainer {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 0;
  background: var(--color-bg-primary);
  
}

/* Editor Panel */
.panel {
  min-width: 0; /* 반드시 필요 */
  display: flex;
  height: 100%;
  width:100%;
}

/* Snapshot Panel */
.snapshot {
  display:flex;
  height:100%;
  width: 100%;
  background: var(--color-bg-primary);
  overflow-y: auto;
  overflow-x:hidden;
}

@media (max-width: 768px) {
  .snapshot {
    display: none;
  }
}
