.sidebarWrapper {
  display: flex;
  flex-direction:column;
  width:200px;
  min-width: 100px;
  max-width: 600px;
  margin: var(--spacing-1);
  border-radius: var(--radius-base);
  border: 2px solid var(--color-border-light);
  background: var(--color-bg-primary);
  position: relative;
}

.contentContainer{
  padding:5px;
}

.resizeHandle {
  position: absolute;
  top: 0;
  right: 0;

  width: 8px;
  height: 100%;
  cursor: col-resize;
  z-index: 9999;
}