.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.codeWrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.panelContent {
  height: 100%;
  width: 100%;
  display: flex;            /* ← 필수 */
  flex-direction: column;   /* ← 필수 */
  border: 2px solid white;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;         /* ← Monaco를 위해 auto 절대 X */
}

.codeContainer {
  flex: 1;                  /* ← Monaco가 영역을 먹는 핵심 */
  height: 100%;
  width: 100%;
  overflow: hidden;         /* ← Monaco는 hidden 이어야 함 */
}

.renderContainer{
  display:flex;
  flex-direction:column;
}

.consoleContainer{
  width:100%;
  hegith:100%;
  
}