.snapshotPanel{
  display:flex;
  flex-direction:column;
  flex:1;
  border-radius:5px;
  width:100%;
  margin:5px;
  margin-left:0px;
  background-color:var(--color-bg-primary);
}

.snapshotContainer {
  flex: 8;
  border: 2px solid var(--color-border-light);
  min-height: 0;      /* ★★★ flex shrink 허용 */
  overflow: hidden;   /* ★★★ Monaco 강제 확장 방지 */
}

.titleInput {
  background: transparent;
  border: 1px solid #334155;
  color: inherit;
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 4px;
}

.ellipsisTitle {
  max-width: 300px;        /* ← 원하는 폭 */
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media (max-width: 1000px) {
  .ellipsisTitle {
  max-width: 120px;        /* ← 원하는 폭 */
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
}
