.snapshotPanel{
  display:flex;
  flex-direction:column;
  flex:1;
  border-radius:5px;
  border:2px solid white;
  width:100%;
  margin:5px;
  margin-left:0px;
  background-color:var(--color-bg-primary);
}


.compileContainer{
  display:flex;
  width:100%;
  flex:2;
  border:2px solid white;
}

.snapshotContainer {
  flex: 8;
  border: 2px solid white;
  min-height: 0;      /* ★★★ flex shrink 허용 */
  overflow: hidden;   /* ★★★ Monaco 강제 확장 방지 */
}