.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-border-light);
  overflow: hidden;
}

/* 드래그 가능한 HEADER */
.header {
  display: flex;
  align-items: center;
  padding-left: 5px;
  border-bottom: 2px solid var(--color-border-light);
  cursor: row-resize;       /* ★ 드래그 커서 */
  user-select: none;
  background: rgba(255,255,255,0.1);
}

.outputText {
  white-space: pre-wrap;
  overflow-y: auto;
  padding: 0 5px;
  flex: 1;
  font-family: Consolas, monospace;
}
