.row {
    display: flex;
    gap: 6px;
}

.subButton {
    width: 80px;
    background: var(--primary);
    border-radius: 9px;
    color: #fff;
    border: none;
}

.outlineButton {
    width: 80px;
    border-radius: 9px;
    border: 1px solid var(--primary);
    color: var(--primary);
}

.timer {
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 1.3rem;
    color: #00ffd0;
}

.error {
    font-size: 1.25rem;
    color: #ff6b6b;
    margin-top: 4px;
}

.strong {
    color: #00ff8c;
}

.medium {
    color: #ffaa00;
}

.weak {
    color: #ff4f4f;
}

.inputIcon {
    font-size: 1.8rem;
    color: var(--text-color-white);
    opacity: 0.8;
    margin-right: 10px;
}

.nopadding {
    padding-left: 16px;
}