.dateFilterBar {
  display: flex;
  justify-content: center; 
  align-items: center;

  width: 100%;
  padding: 6px;

  background: var(--color-gray-400);
  border: 1px solid var(--color-border-light);
  border-radius: 8px;
}

/* 날짜 선택 컨테이너 */
.dateSelectContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* react-datepicker 기본 스타일 제어 */
:global(.react-datepicker-wrapper) {
  display: flex;
  justify-content: center;
}

:global(.react-datepicker__input-container) {
  display: flex;
  justify-content: center;
  
}

/* DatePicker input */
.dateRangeInput {
  width: 100%; 
  height: 30px;

  padding: 0 12px;
  font-size: 12px;
  font-weight: 500;

  color: var(--color-text-primary);
  background: var(--color-gray-400y);

  border: 1px solid transparent;
  border-radius: 999px;

  cursor: pointer;
  margin-left:5%;
}

.dateRangeInput:hover {
  background: var(--color-bg-hover);
}

.dateRangeInput:focus {
  outline: none;
  border-color: var(--color-accent);
  background: var(--color-gray-400);
}

.dateLabel {
  font-size: 12px;
  color: var(--color-text-secondary);
  white-space: nowrap;
}

.refreshButton {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  color: var(--color-text-secondary);

  background: transparent;
  border: none;
  border-radius: 6px;

  cursor: pointer;
}

.refreshButton:hover {
  background: var(--color-bg-hover);
  color: var(--color-text-primary);
}

.snapshotItemTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:10px;
  border-bottom: 2px solid white;
}

.snapshotItemContainer {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2px;
}

.SnapshotPanel{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}

.selectLang {
  display: flex;
  flex-direction:column;
  width:100%;
  align-item:center;
  justify-content:center;
}

.langBtn {
  width:100%;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  cursor: pointer;
}

.langBtnActive {
  width:100%;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  cursor: pointer;
  background: #4c7dff;
  color: white;
  cursor: pointer;
}

.langActionBtn {
  margin-left: auto;
  padding: 6px 10px;
  color:white;
  width:100%;
  border:2px solid white;
  border-radius:10px;
}

.langSelectButtonContainer{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:row;

}

.langButtonContainer{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:row;

}