.wrapper {
}

.title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

/* 카테고리 드롭다운 영역 */
.dropdown {
  position: relative;
  margin-bottom: 10px;
}

.dropdownButton {
  width: 100%;
  padding: 6px;
  border: 1px solid var(--color-border-light);
  background: var(--color-bg-secondary);
}

.dropdownList {
  position: absolute;
  top: 100%;
  width: 100%;
  background: var(--color-bg-primary);
  border: 1px solid var(--color-border-light);
  z-index: 10;
}

.dropdownItem {
  padding: 6px;
  cursor: pointer;
}

.dropdownItem:hover {
  background: var(--color-bg-hover);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
