.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.shareButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 9999;

  padding: 10px 16px;
  background: #2563eb;
  color: #fff;

  border: none;
  border-radius: 8px;
  cursor: pointer;
}